@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* Link @index en navbar */
.taller-bicicletas {
    font-weight: bold;
    color: black;
    font-size: 40px;
    text-decoration: none;
    font-family: 'Bebas Neue';
}

/* estilo del link boton volver */
.volver-link {
    display: block;
    margin-top: 10px;
    padding: 5px 10px;
    width: fit-content;
    font-weight: bold;
    text-decoration: none;
    color: #ffc107;
    border: 1px solid #ffc107;
    border-radius: 5px;
    transition: background-color 0.2s, color 0.2s;
}

.volver-link:hover {
    background-color: #ffc107;
    color: #212529;
}